---
import { Center } from '../components/base';
import MainHead from '../components/MainHead.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <MainHead
      title="404 Page Not Found"
      description="This is the not found page it will bring the user home"
    />
  </head>
  <body>
    <div class="h-screen dark:bg-gray-800 relative">
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <Center gapClass={'gap-20'}>
          <div class="text-3xl">
            Could not find the page you were looking for!
          </div>
          <a
            href="/"
            class:list={[
              'bg-slate-800 dark:bg-slate-200',
              'text-gray-200 dark:text-gray-800 ',
              'px-12 py-4',
            ]}
          >
            Go home
          </a>
        </Center>
      </div>
    </div>
  </body>
</html>
