---
const currentYear = new Date().getFullYear();
---

<div id="copyright" class="text-center pt-32 px-8 pb-8">
	
	<div class="grid gap-2">

		<div>
			&copy; {currentYear} Shelton Louis 
		</div>
		<small class="uppercase text-sm block ">🚀 Built by Astro</small>
	</div>
</div>
